ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 50px;
    margin-left: auto;
    margin-right: 400px;
    
    
}
.sub1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.sub2{
    
    
    display: flex;
    flex-direction: column;
    align-items:  flex-start;
    margin-left: 100px;
    gap: 15px;
    
}
.hlo{
    display: flex;
    gap: 100px;
    
    
    align-items: center;
    
}
.ss{
    max-width: 550px;
    text-align: start;
}
button:hover{
    
    cursor: pointer;
}
.sub3{
    width:600px;
    height: 300px;
    justify-content: center;
    display: flex;

    
    
}
.part1{
    background-color: #1f2937;
    height: 600px;
    
    
}
.tt{
    font-size: 24px;
    color: #f9faf8;
    font-weight: 800;
}
.rr{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.ss{color: #e5e7eb;font-size: 18px;}
ul,.tt,.ss,.rr{font-family:'Roboto',sans-serif}
.tt{margin-left: 100px;}
ul:hover{cursor: pointer;}

.name1{
    display: flex;
    flex-direction: column;

}
.name{text-align: center;margin-bottom: 50px;margin-top: 50px;font-weight: bold;font-size: 36px;}
.name2{
    display: flex;
    flex-direction: column;
}
.part2{
    display: flex;
    flex-direction: column;
    font-family: "roboto",sans-serif;
    height: 400px; 
}
.titu{
    display: flex;
    justify-content: center;
    gap:30px;
    
}
li a{color: #f9faf8;}
.titu a{color: black;}
.part3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    background-color: #e5e7eb;
    height: 380px;
}
.quote{
    max-width: 680px;
    font-size: 36px;
    font-style:italic;
    font-weight: lighter;
    display: flex;

}
.gus{margin-left: 290px;font-family: sans-serif;font-weight: bold;}
.rpg{padding: 18px;background-color: #1da1f2;font-family: sans-serif;color: #f9faf8;}
.part4{display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 300px;
    

}
.part4 button{background-color: #1da1f2;border: #1da1f2;}
.part4 a{color: #f9faf8;}


